$card-primary: #d4c398;
$background-color: #753d09;
$fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$font-size: 18px;
$home-font:#5b2522;
$nav-font: white;
$card-font: black;
$alignment: center;
$title-size: 60px;
$default-display: flex;